*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a,a:hover,a:focus{
 text-decoration: none;
 color: black;
}
html{
    font-size: 62%;
}
nav{
    font-size: 2.6rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 1rem;
}
nav h1 {
    color: rgb(0, 174, 255);
}
.items a{
    margin-right: 2rem;
    transition: all 250ms;
}
.items a:hover{
    color:rgb(0, 174, 255);
}
main{
    display: flex;
    height: 100vh;
    width: 100%;
    place-items: center;
    flex-direction: row;
 
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
main h2 {
    background-color: black;
    color: white;
    width:100%;
    text-align: center;
    padding:5rem 5rem;
    border-radius: 15px;
}
.btn{
    padding:1rem 3.5rem;
    background: transparent;
    color: black;
    outline: none;
    border: black 1px solid;
    font-size: 2rem;
    margin: 1rem;
    border-radius: 10px;
    transition: all 250ms;
}
.btn:hover{
    background:black;
    border: none;
    color: white;
    cursor: pointer;
}